body {
  font-family: 'Lora', serif;
  background: #ffffff;
  color: brown;
  text-align: center;
}

.header{
  display: flex;             /* Enables flexbox layout */
  justify-content: space-between; /* Places items on either side with space between */
  align-items: center;        /* Vertically centers the items */
  width: 100%;                /* Ensures the container takes the full width of the page */
  padding: 10px;              /* Optional: adds some padding around the container */
  box-sizing: border-box;     /* Ensures padding is included in width calculation */
}

.header-img {
  width: 450px;               /* Set a fixed width for the images */
  height: auto;               /* Maintains aspect ratio */
}

.background {
  display: flex;             /* Enables flexbox layout */
  background-size: cover; /* Ensures the image covers the entire div */
  background-position: center;
  align-items: center;        /* Vertically centers the items */
  padding: 10px; /* Adds padding inside the div */
  width: 100%;
  height: auto;
  box-sizing: border-box; 
  margin-top: 15px; /* Creates space below the header */
}

.background-img {
  width:100%;
  height: auto;
}

.openingMessage{
  background-color:#2B1700;
  position: absolute; /* Absolute positioning inside the background */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust to true center */
  width: 50%;
  height: auto;
  box-sizing: border-box; 
  margin-top: 250px;
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
}

.level1Button{
  background-color:#2B1700;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top: 350px;
  font-family: 'Lora', serif;
  font-size: 25px;
}

.level2Button {
  background-color:#2B1700;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top: 400px;
  font-family: 'Lora', serif;
  font-size: 25px;
}

.level3Button{
  background-color:#2B1700;
  color: white;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  margin-top: 450px;
  font-family: 'Lora', serif;
  font-size: 25px;
}

#content {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  gap: 20px; /* Space between items */
  justify-items: center; /* Center items in their grid cells */
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin-top: 900px;
}

.image-container {
  text-align: center;
  font-family: 'Lora', serif;
  color: white;  
}

img {
  width: 150px;
  height: 150px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin: 5px 0;
  background-color: #2B1700;
  padding: 5px;
  border-radius: 5px;
}

li:hover {
  background-color: #ddd;
}

.correct {
  background-color: #90ee90;
}

.wrong {
  background-color: #ffcccb;
}

.gameInstructions{
  background-color:#2B1700;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 50%;
  height: auto;
  box-sizing: border-box; 
  margin-top: 550px;
  font-family: 'Lora', serif;
  color: white;
  text-align: center;
}

